.container {
    width: 500px;
    height: 500px;
    border-width: 3px;
    border-style: solid;
}

.header {
    /* height: 80px; */
    border-width: 3px;
    border-style: solid;
    margin: 10px;
}

.nav1,
.nav2,
.nav3 {
    width: 80px;
    height: 250px;
    border-style: solid;
    margin: 10px;
    display: inline-block;
}

.nav3 {
    width: 250px;
}

.footer {
    /* height: 100px; */
    margin: 15px;
    border-style: solid;

}

.footer1,
.footer2,
.footer3 {
    height: 150px;
    width: 100px;
    margin: 10px;
    border-style: solid;
    display: inline-block;
}

.footer1 {
    margin-right: 40px;
}

.footer2 {
    margin-right: 40px;
}